/dts-v1/;
#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include "pl.dtsi"
#include "pcw.dtsi"
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/interrupt-controller/irq.h>

/* From include/dt-bindings/clk/versaclock.h */
#define VC5_LVPECL   0
#define VC5_CMOS  1
#define VC5_HCSL33   2
#define VC5_LVDS  3
#define VC5_CMOS2 4
#define VC5_CMOSD 5
#define VC5_HCSL25   6

#define PLATFORM_TYPE_8_CHAN_3EG 0
#define PLATFORM_TYPE_TMOIP_3CH 1
#define PLATFORM_TYPE_TMOIP_12CH 2
#define PLATFORM_TYPE_AVNET_CC7EV 3
#define PLATFORM_TYPE_XILINX_ZCU102 4
#define PLATFORM_TYPE_TMOIP_MLSC 5
#define PLATFORM_TYPE_TMOIP_BSSA 6

/* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
    
/ {
	chosen {
		bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk1p2 rw rootwait";
		stdout-path = "serial0:115200n8";
	};
	aliases {
		ethernet0 = &gem3;
		ethernet1 = &gem0;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>, <0x00000008 0x00000000 0x0 0x80000000>;
	};
/* gtr_refclk2_usb - 52MHz - U3 */
/*
   gtr_clk2: gtr_clk2 { 
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <52000000>;
   };
*/    
};

&fpd_dma_chan1 {
	status = "okay";
	#dma-cells = <1>;
	xlnx,bus-width = <128>;
};

&amba_pl {
	tmoip_system: tmoip_system@800D0000 {
	   compatible = "tmoip_system-1.0";
       reg = <0x0 0x800D0000 0x0 0x10000 0x0 0xa0100000 0x0 0x10000>;
       interrupt-parent = <&gic>;
       interrupts = <0 92 1>;
       num_channels = <3>;
       platform_type = <PLATFORM_TYPE_TMOIP_3CH>;
    };
	ch0: channel@80000000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80000000 0x0 0x10000>,
                <0x0 0x80010000 0x0 0x10000>,
                <0x0 0x80080000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <0>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
    };
	ch1: channel@80020000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80020000 0x0 0x10000>,
                <0x0 0x80030000 0x0 0x10000>,
                <0x0 0x800E0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <1>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
    };
	ch2: channel@80040000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80040000 0x0 0x10000>,
                <0x0 0x80050000 0x0 0x10000>,
                <0x0 0x800F0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <2>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
    };
	ch3: channel@80090000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80090000 0x0 0x10000>,
                <0x0 0x800a0000 0x0 0x10000>,
                <0x0 0x800b0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <3>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
    };
	clocktrack0: clocktrack@80060000 {
	      compatible = "clocktrack-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
     	  reg = <0x0 0x80060000 0x0 0x10000>;
		  refclk_hz = <300000000>;
	      setpointcenter = <250000>;
	      setpointoffset = <50000>;
	      mincenter = <1500>;
	      minoffset = <300>;
    };
    dma_central0: dma_central@80070000 {
          compatible = "dma_central-1.0";
	      clock-names = "axi_lite_aclk", "axis_in_aclk";
          clocks = <&misc_clk_0>, <&misc_clk_0>;
          interrupt-parent = <&gic>;
          interrupts = <0 89 1>;
          reg = <0x0 0x80070000 0x0 0x1000 0x0 0xa0000000 0x0 0x100000>;
          start_channel = <0>;
          num_channels = <4>;
          int_retry_cnt = <500000>;
          dmas = <&fpd_dma_chan1 0>;
          dma-names = "dma";
	};
};

&gpio {
	status = "okay";
};

/* non-som */
&gem0 {
	status = "okay";
	local-mac-address = [00 0a 35 00 02 90];
	phy-mode = "rgmii-id";
	xlnx,ptp-enet-clock = <0x0>;
	phy-handle = <&phy1>;
	phy1: phy@19 {
		reg = <0x19>;
        ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,fifo-depth = <0x1>;
	};
};

&gem3 {
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x0>;
	local-mac-address = [00 0a 35 00 02 91];
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy0: phy@0 {
		reg = <0x0>;
		ti,rx-internal-delay = <0x5>;
		ti,tx-internal-delay = <0x5>;
		ti,fifo-depth = <0x1>;
	};
};

&i2c1 {
   i2cswitch@70 { /* U7 on UZ3EG SOM, U8 on UZ7EV SOM */
      compatible = "nxp,pca9543";
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0x70>;
      i2c@0 { /* i2c mw 70 0 1 */
         #address-cells = <1>;
         #size-cells = <0>;
         reg = <0>;
      };

      i2c@1 {
         #address-cells = <0x1>;
         #size-cells = <0x0>;
         reg = <0x1>;

         irps5401@46 { /* IRPS5401 - U24 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x46>;
         };

         irps5401@47 { /* IRPS5401 - U25 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x47>;
         };

         ir38063@48 { /* IR38063 - U26 on UZ7EV SOM*/
            compatible = "infineon,ir38063";
            reg = <0x48>;
         };
      };
   };
};

&qspi {
   #address-cells = <1>;
   #size-cells = <0>;
   status = "okay";
   is-dual = <1>; /* Set for dual-parallel QSPI config */
   num-cs = <2>;
   xlnx,fb-clk = <0x1>;
   flash0: flash@0 {
      /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
      /* so the Flash MTD partitions are correctly identified in /proc/mtd */
      compatible = "micron,m25p80","jedec,spi-nor"; /* 32MB */
      #address-cells = <1>;
      #size-cells = <1>;
      reg = <0x0>;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
      spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
      /* MTD Partitioning:
       *   Boot.bin needs at least 20MB
       *   boot.scr must go at 0x3E80000
       */
      partition@qspi-bootbin {
	      label = "qspi-bootbin";
	      reg = <0x0 0x2000000>;
      };
      partition@qspi-bootscr {
	      label = "qspi-bootscr";
	      reg = <0x3E80000 0x80000>;
      };
   };
};

/* SD0 eMMC, 8-bit wide data bus */
&sdhci0 {
   status = "okay";
   bus-width = <8>;
   max-frequency = <50000000>;
};

/* SD1 with level shifter */
&sdhci1 {
   status = "okay";
   disable-wp;
   max-frequency = <50000000>;
   no-1-8-v;   /* for 1.0 silicon */
};
/*
&psgtr {
   clocks = <&gtr_clk2>;
   clock-names = "ref0";
};

&usb0 {
      status = "okay";
};
&dwc3_0 {
	status = "okay";
	dr_mode = "host";
    maximum-speed = "super-speed"; 
    snps,usb3_lpm_capable; 
    snps,enable_auto_retry; 
    phy-names = "usb3-phy"; 
    phys = <&psgtr 2 PHY_TYPE_USB3 0 0>;
};
*/