/dts-v1/;
#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include "pl.dtsi"
#include "pcw.dtsi"
#include <dt-bindings/phy/phy.h>
/ {
	chosen {
		bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk1p2 rw rootwait";
		stdout-path = "serial0:115200n8";
	};
	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		serial1 = &uart1;
		i2c0 = &i2c0;
		spi0 = &qspi;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>, <0x00000008 0x00000000 0x0 0x80000000>;
	};
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		reg_ssd_vqmmc: regulator_ssd_vqmmc {
			compatible = "regulator-gpio";
			regulator-name = "ssd_vqmmc";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-type = "voltage";
			gpios = <&gpio 43 1>;
			gpios-states = <1>;
			states = <3300000 1
				1800000 0>;
		};
	};
};

/*&amba_pl {
	cc7ev_system: cc7ev_system@80000000 {
	   compatible = "cc7ev_system-1.0";
	   reg = <0x0 0x80000000 0x0 0x10000>;
    };

	dqm_source0: dqm_source@80030000 {
	      compatible = "dqm_source-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>;
	      reg = <0x0 0x80030000 0x0 0x10000>;
          sync_word = <0xFAC0>;
          id_word = <0x1234>;
          payload_size_bytes = <128>;
          dqm1 = <0x1111>;
          dqm2 = <0x2222>;
          dqm3 = <0x3333>;
          dqm4 = <0x4444>;
          bert_tp = <0xeb90>;
          bert_pattern_sel = "tp";
		  refclk_hz = <300000000>;
          tx_bitrate = <100000>;
    };
	data_ch0: data_channel@80020000 {
	      compatible = "data_channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80020000 0x0 0x1000>;
 		  channel = <0>;
          sync_pattern = <0xFAC0>;
          bytes_per_sync = <132>;
		  tx_en = <0>;
		  rx_en = <1>;
		  rxc_polarity = <1>;
		  rxd_polarity = <0>;
		  txc_polarity = <0>;
		  txd_polarity = <0>;
    };
    dma_central0: dma_central@80040000 {
          compatible = "dma_central-1.0";
	      clock-names = "axi_lite_aclk", "axis_in_aclk";
          clocks = <&misc_clk_0>, <&misc_clk_0>;
          interrupt-parent = <&gic>;
          interrupts = <0 89 1>;
          reg = <0x0 0x80040000 0x0 0x1000 0x0 0xa0000000 0x0 0x100000>;
          channel = <0>;
          num_buffers = <12>;
          int_retry_cnt = <4500000>;
          dmas = <&fpd_dma_chan1 0>;
          dma-names = "dma";
	};
};
*/

&gem0 {
	phy-mode = "rgmii-id";
	local-mac-address = [00 01 02 03 04 05];
	status = "okay";
	xlnx,ptp-enet-clock = <0x0>;
	phy-handle = <&phy0>;
	phy-reset-gpio = <&gpio 42 1>;
	phy-reset-active-low;
	phy-reset-duration = <20>;
	phy0: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,rxctrl-strap-worka;
		at803x,led-act-blind-workaround;
		at803x,eee-disabled;
		at803x,vddio-1p8v;
		interrupt-parent = <&gpio>;
		interrupts = <12 8>;
	};
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
	
	pmic0: da9062@58 {
		compatible = "dlg,da9062";
		reg = <0x58>;
		interrupt-parent = <&gpio>;
		interrupts = <2 8>;
		interrupt-controller;
		rtc {
			compatible = "dlg,da9062-rtc";
		};
	};

       tca6416: gpio@21 { 
               compatible = "ti,tca6416";
                reg = <0x21>;
                gpio-controller;
                #gpio-cells = <2>;

               gtr_sel0 {
                       gpio-hog;
                       gpios = <4 0>;
                       output-high; /* RS0 = 1 */
                       line-name = "sel0";
               };

               gtr_sel1 {
                       gpio-hog;
                       gpios = <5 0>;
                       output-low; /* Enable Transceiver */
                       line-name = "sel1";
               };              
       };

       fusb302: typec-portc@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		fcs,int_n = <&gpio 78 8>;
		fcs,cc = <&gpio 79 0>;
		fcs,power_en = <&gpio 25 0>;
		status = "okay";
       };
};

&qspi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	is-dual = <1>; /* Set for dual-parallel QSPI config */
	num-cs = <2>;
	xlnx,fb-clk = <0x1>;
	flash0: flash@0 {
        /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
        /* so the Flash MTD partitions are correctly identified in /proc/mtd */
		compatible = "micron,m25p80"; /* 32MB */
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
		spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
	};
};

&sdhci0{
        bus-width = <8>;
};

&sdhci1 {
	clock-frequency = <200000000>;
	status = "okay";
	bus-width = <4>;
	xlnx,mio_bank = <0x1>;
	xlnx,has-cd = <0x1>;
	vqmmc-supply = <&reg_ssd_vqmmc>;
};

&usb0 {
	status = "okay";
	xlnx,usb-reset = <0x2faf080>;
};

&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
	phys = <&psgtr 2 PHY_TYPE_USB3 0 2>;
	maximum-speed = "super-speed";
};

&amba {
	usb1@ff9e0000 {
		dwc3@fe300000 {
		snps,enable_auto_retry;
		};
	};
}; 

&zynqmp_dpsub {
	status = "disabled";
	phys = <&psgtr 3 PHY_TYPE_DP 0 3>;
	phy-names = "dp-phy0";
};

&zynqmp_dp_snd_codec0 {
	status = "disabled";
};
&zynqmp_dp_snd_pcm0 {
	status = "disabled";
};
&zynqmp_dp_snd_pcm1 {
	status = "disabled";
};
&zynqmp_dp_snd_card0 {
	status = "disabled";
};

&psgtr {
	status = "okay";
	/* pcie, sata, usb3, dp */
	clocks = <&refclk_pcie &refclk_sata &refclk_usb &refclk_dp>;
	clock-names = "ref0\0ref1\0ref2\0ref3";
};

&fpd_dma_chan1 {
	status = "okay";
	#dma-cells = <1>;
	xlnx,bus-width = <128>;
};

