/dts-v1/;
#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/net/ti-dp83867.h>
    
/* From include/dt-bindings/clk/versaclock.h */
#define VC5_LVPECL   0
#define VC5_CMOS  1
#define VC5_HCSL33   2
#define VC5_LVDS  3
#define VC5_CMOS2 4
#define VC5_CMOSD 5
#define VC5_HCSL25   6

#define PLATFORM_TYPE_8_CHAN_3EG 0
#define PLATFORM_TYPE_TMOIP_3CH 1
#define PLATFORM_TYPE_TMOIP_12CH 2
#define PLATFORM_TYPE_AVNET_CC7EV 3
#define PLATFORM_TYPE_XILINX_ZCU102 4
#define PLATFORM_TYPE_TMOIP_MLSC 5
#define PLATFORM_TYPE_TMOIP_BSSA 6

/ {
	chosen {
		bootargs = "console=/dev/ttyPS0,115200 root=/dev/mmcblk1p2 rw earlyprintk earlycon clk_ignore_unused";
		stdout-path = "serial0:115200n8";
	};
	aliases {
		ethernet0 = &gem3;
		ethernet1 = &gem0;
		serial0 = &uart0;
		serial1 = &uart1;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>, <0x00000008 0x00000000 0x0 0x80000000>;
	};

   	reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
		ranges;
	    framebuffer_mem: framebuffer@10000000 {
           no-map;
		   reg = <0x0 0x10000000 0x0 (1024*1024)>;
	   };
   	};
	amba_pl: amba_pl@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges ;
    	misc_clk_0: misc_clk_0 {
	    	#clock-cells = <0>;
		    clock-frequency = <299997000>;
		    compatible = "fixed-clock";
	    };
        framebuffer0: framebuffer {
            compatible = "simple-framebuffer";
            memory-region = <&framebuffer_mem>;
	        width = <160>;
	        height = <128>;
	        stride = < (160 * 2) >;
	        //format = "a8b8g8r8";
	        format = "r5g6b5";
	    };
    		system_i2c_ch1_6: i2c@80410000 {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "s_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&gic>;
			interrupts = <0 109 4>;
			reg = <0x0 0x80410000 0x0 0x10000>;
		};
		system_i2c_ch7_12: i2c@80420000 {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "s_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&gic>;
			interrupts = <0 110 4>;
			reg = <0x0 0x80420000 0x0 0x10000>;
		};
		system_i2c_dir_ctrl: i2c@80430000 {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "s_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&gic>;
			interrupts = <0 108 4>;
			reg = <0x0 0x80430000 0x0 0x10000>;
		};
		system_i2c_si5338: i2c@80440000 {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "s_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&gic>;
			interrupts = <0 111 4>;
			reg = <0x0 0x80440000 0x0 0x10000>;
		};
		system_i2c_touch: i2c@802B0000 {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "s_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&gic>;
			interrupts = <0 106 4>;
			reg = <0x0 0x802B0000 0x0 0x10000>;
			mcp3021@49 {
				compatible = "microchip,mcp3021";
				reg = <0x49>;
				reference-voltage-microvolt = <3300000>; /* 3.3 V */
		        };
			
		};

	};
};

&amba_pl {
	tmoip_system: tmoip_system@800D0000 {
	   compatible = "tmoip_system-1.0";
       reg = <0x0 0x800D0000 0x0 0x10000 0x0 0xa0100000 0x0 0x10000>;
       num_channels = <12>;
       platform_type = <PLATFORM_TYPE_TMOIP_12CH>;
    };

    ch0: channel@80000000 {
	     compatible = "channel-1.0";
             clock-names = "axi_lite_aclk";
	     clocks = <&misc_clk_0>, <&misc_clk_0>;
	     reg = <0x0 0x80000000 0x0 0x10000>,
                 <0x0 0x80010000 0x0 0x10000>,
                 <0x0 0x80080000 0x0 0x10000>;
             reg-names = "channel_in", "channel_out", "pcmif";      
 	     channel_number = <0>;
	     refclk_hz = <300000000>;
    };
    bitsync0: bit_sync@802e0000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x802e0000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <0>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch1: channel@80020000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80020000 0x0 0x10000>,
                  <0x0 0x80030000 0x0 0x10000>,
                  <0x0 0x800E0000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";     
 	      channel_number = <1>;
	      refclk_hz = <300000000>;
    };
    bitsync1: bit_sync@80300000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80300000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <1>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch2: channel@80040000 {
              compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80040000 0x0 0x10000>,
                <0x0 0x80050000 0x0 0x10000>,
                <0x0 0x800F0000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";    
 	      channel_number = <2>;
	      refclk_hz = <300000000>;
    };
    bitsync2: bit_sync@80310000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80310000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <2>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch3: channel@80090000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80090000 0x0 0x10000>,
                <0x0 0x800a0000 0x0 0x10000>,
                <0x0 0x800b0000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";   
 	      channel_number = <3>;
	      refclk_hz = <300000000>;
    };
	bitsync3: bit_sync@80320000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80320000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <3>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch4: channel@800c0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x800c0000 0x0 0x10000>,
                <0x0 0x802a0000 0x0 0x10000>,
                <0x0 0x80100000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";
	      channel_number = <4>;
	      refclk_hz = <300000000>;
    };
    bitsync4: bit_sync@80330000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80330000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <4>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch5: channel@80110000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80110000 0x0 0x10000>,
                <0x0 0x80120000 0x0 0x10000>,
                <0x0 0x80130000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";   
 	      channel_number = <5>;
	      refclk_hz = <300000000>;
    };
    bitsync5: bit_sync@80340000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80340000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <5>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch6: channel@80140000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80140000 0x0 0x10000>,
                <0x0 0x80150000 0x0 0x10000>,
                <0x0 0x80160000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";  
 	      channel_number = <6>;
	      refclk_hz = <300000000>;
    };
    bitsync6: bit_sync@80350000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80350000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <6>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch7: channel@80170000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80170000 0x0 0x10000>,
                <0x0 0x80180000 0x0 0x10000>,
                <0x0 0x80190000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif"; 
 	      channel_number = <7>;
	      refclk_hz = <300000000>;
    };
    bitsync7: bit_sync@80360000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80360000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <7>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch8: channel@80220000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80220000 0x0 0x10000>,
                <0x0 0x80230000 0x0 0x10000>,
                <0x0 0x80240000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";   
 	      channel_number = <8>;
	      refclk_hz = <300000000>;
    };
    bitsync8: bit_sync@80390000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80390000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <8>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch9: channel@80250000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80250000 0x0 0x10000>,
                <0x0 0x80260000 0x0 0x10000>,
                <0x0 0x80270000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";    
 	      channel_number = <9>;
	      refclk_hz = <300000000>;
    };
    bitsync9: bit_sync@803A0000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x803A0000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <9>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch10: channel@801c0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x801c0000 0x0 0x10000>,
                <0x0 0x801d0000 0x0 0x10000>,
                <0x0 0x801e0000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif";   
 	      channel_number = <10>;
	      refclk_hz = <300000000>;
    };
    bitsync10: bit_sync@80370000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80370000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <10>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
    ch11: channel@801f0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x801f0000 0x0 0x10000>,
                <0x0 0x80200000 0x0 0x10000>,
                <0x0 0x80210000 0x0 0x10000>;
              reg-names = "channel_in", "channel_out", "pcmif"; 
 	      channel_number = <11>;
	      refclk_hz = <300000000>;
    };
    bitsync11: bit_sync@80380000 {
	      compatible = "bit_sync-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80380000 0x0 0x10000>;
	      kp_base_msw = <0x00800000>;
              kp_base_lsw = <0x00000000>;
              ki_base_msw = <0x00030000>;
              ki_base_lsw = <0x00000000>;
 	      channel_number = <11>;
 	      perr_thresh = <1500000000>;
	      refclk_hz = <300000000>;
    };
};

&gpio {
	status = "okay";
};

&i2c1 {
   i2cswitch@70 { /* U7 on UZ3EG SOM, U8 on UZ7EV SOM */
      compatible = "nxp,pca9543";
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0x70>;
      i2c@0 { /* i2c mw 70 0 1 */
         #address-cells = <1>;
         #size-cells = <0>;
         reg = <0>;
      };

      i2c@1 {
         #address-cells = <0x1>;
         #size-cells = <0x0>;
         reg = <0x1>;

         irps5401@46 { /* IRPS5401 - U24 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x46>;
         };

         irps5401@47 { /* IRPS5401 - U25 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x47>;
         };

         ir38063@48 { /* IR38063 - U26 on UZ7EV SOM*/
            compatible = "infineon,ir38063";
            reg = <0x48>;
         };
      };
   };
};

&qspi {
   #address-cells = <1>;
   #size-cells = <0>;
   status = "okay";
   is-dual = <1>; /* Set for dual-parallel QSPI config */
   num-cs = <2>;
   xlnx,fb-clk = <0x1>;
   flash0: flash@0 {
      /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
      /* so the Flash MTD partitions are correctly identified in /proc/mtd */
      compatible = "micron,m25p80","jedec,spi-nor"; /* 32MB */
      #address-cells = <1>;
      #size-cells = <1>;
      reg = <0x0>;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
      spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
      /* MTD Partitioning:
       *   Boot.bin needs at least 20MB
       *   boot.scr must go at 0x3E80000
       */
      partition@qspi-bootbin {
	      label = "qspi-bootbin";
	      reg = <0x0 0x2000000>;
      };
      partition@qspi-bootscr {
	      label = "qspi-bootscr";
	      reg = <0x3E80000 0x80000>;
      };
   };
};

&sdhci0 {
	status = "okay";
	xlnx,mio_bank = <0x0>;
 	bus-width = <8>;
	max-frequency = <50000000>;
};
&sdhci1 {
	max-frequency = <50000000>;
	status = "okay";
	disable-wp;
	no-1-8-v;
	bus-width = <4>;
	xlnx,mio_bank = <0x1>;
};

&lpd_dma_chan1 {
	status = "okay";
};
&lpd_dma_chan2 {
	status = "okay";
};
&lpd_dma_chan3 {
	status = "okay";
};
&lpd_dma_chan4 {
	status = "okay";
};
&lpd_dma_chan5 {
	status = "okay";
};
&lpd_dma_chan6 {
	status = "okay";
};
&lpd_dma_chan7 {
	status = "okay";
};
&lpd_dma_chan8 {
	status = "okay";
};
&xilinx_ams {
	status = "okay";
};
&cci {
	status = "okay";
};
&fpd_dma_chan1 {
	status = "okay";
};
&fpd_dma_chan2 {
	status = "okay";
};
&fpd_dma_chan3 {
	status = "okay";
};
&fpd_dma_chan4 {
	status = "okay";
};
&fpd_dma_chan5 {
	status = "okay";
};
&fpd_dma_chan6 {
	status = "okay";
};
&fpd_dma_chan7 {
	status = "okay";
};
&fpd_dma_chan8 {
	status = "okay";
};

&gem0 {
	status = "okay";
	local-mac-address = [00 0a 35 00 02 90];
	phy-mode = "rgmii-id";
	xlnx,ptp-enet-clock = <0x0>;
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&phy1>;
	phy1: phy@19 {
		reg = <0x19>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <0x1>;
	};
};

&gem3 {
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x0>;
	local-mac-address = [00 0a 35 00 02 91];
	phy-mode = "rgmii-id";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&phy0>;
	phy0: phy@0 {
		reg = <0x0>;
		ti,rx-internal-delay = <0x5>;
		ti,tx-internal-delay = <0x5>;
		ti,fifo-depth = <0x1>;
	};
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";
};
&qspi {
	is-dual = <1>;
	num-cs = <1>;
	spi-rx-bus-width = <4>;
	spi-tx-bus-width = <4>;
	status = "okay";
};
&rtc {
	status = "okay";
};
&psgtr {
	status = "okay";
};
&uart0 {
	cts-override ;
	device_type = "serial";
	port-number = <0>;
	status = "okay";
	u-boot,dm-pre-reloc ;
};
&uart1 {
	cts-override ;
	device_type = "serial";
	port-number = <1>;
	status = "okay";
	u-boot,dm-pre-reloc ;
};
&lpd_watchdog {
	status = "okay";
};
&watchdog0 {
	status = "okay";
};
&ams_ps {
	status = "okay";
};
&ams_pl {
	status = "okay";
};
    