/dts-v1/;
#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include "pl.dtsi"
#include "pcw.dtsi"
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/interrupt-controller/irq.h>

/* From include/dt-bindings/clk/versaclock.h */
#define VC5_LVPECL   0
#define VC5_CMOS  1
#define VC5_HCSL33   2
#define VC5_LVDS  3
#define VC5_CMOS2 4
#define VC5_CMOSD 5
#define VC5_HCSL25   6
/ {
	chosen {
		bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk1p2 rw rootwait";
		stdout-path = "serial0:115200n8";
	};
	aliases {
		ethernet0 = &gem3;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>, <0x00000008 0x00000000 0x0 0x80000000>;
	};
	
   clock_5p49v5935_ref25: ref25m { /* 25MHz reference crystal (internal) - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <25000000>;
   };

   gtr_clk0: gtr_clk0 { /* gtr_refclk0_pcie - 100MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <100000000>;
   };

   gtr_clk1: gtr_clk1 { /* gtr_refclk1_sata - 125MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <125000000>;
   };

   gtr_clk2: gtr_clk2 { /* gtr_refclk2_usb - 52MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <52000000>;
   };

   gtr_clk3: gtr_clk3 { /* gtr_refclk3_dp - 27MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <27000000>;
   };
};

&fpd_dma_chan1 {
	status = "okay";
	#dma-cells = <1>;
	xlnx,bus-width = <128>;
};

&fpd_dma_chan2 {
	status = "okay";
	#dma-cells = <1>;
	xlnx,bus-width = <128>;
};

&fpd_dma_chan3 {
	status = "okay";
	#dma-cells = <1>;
	xlnx,bus-width = <128>;
};
    
&amba_pl {
	cc7ev_system: cc7ev_system@80200000 {
	   compatible = "cc7ev_system-1.0";
	   reg = <0x0 0x80200000 0x0 0x10000>;
    };
	ch0: channel@80000000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80000000 0x0 0x10000>,
                <0x0 0x80040000 0x0 0x10000>,
                <0x0 0x80210000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <0>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch1: channel@80010000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80010000 0x0 0x10000>,
                <0x0 0x80050000 0x0 0x10000>,
                <0x0 0x80220000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <1>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch2: channel@80020000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80020000 0x0 0x10000>,
                <0x0 0x80060000 0x0 0x10000>,
                <0x0 0x80230000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <2>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch3: channel@80030000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80030000 0x0 0x10000>,
                <0x0 0x80070000 0x0 0x10000>,
                <0x0 0x80240000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <3>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	clocktrack0: clocktrack@80090000 {
	      compatible = "clocktrack-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
     	  reg = <0x0 0x80090000 0x0 0x10000>;
		  refclk_hz = <300000000>;
	      setpointcenter = <250000>;
	      setpointoffset = <50000>;
    };
    dma_central0: dma_central@80080000 {
          compatible = "dma_central-1.0";
	      clock-names = "axi_lite_aclk", "axis_in_aclk";
          clocks = <&misc_clk_0>, <&misc_clk_0>;
          interrupt-parent = <&gic>;
          interrupts = <0 89 1>;
          reg = <0x0 0x80080000 0x0 0x1000 0x0 0xa0000000 0x0 0x100000>;
          start_channel = <0>;
          num_channels = <4>;
          int_retry_cnt = <500000>;
          dmas = <&fpd_dma_chan1 0>;
          dma-names = "dma";
	};
	ch4: channel@800a0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x800a0000 0x0 0x10000>,
                <0x0 0x800b0000 0x0 0x10000>,
                <0x0 0x80250000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <4>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch5: channel@800c0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x800c0000 0x0 0x10000>,
                <0x0 0x800d0000 0x0 0x10000>,
                <0x0 0x80260000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <5>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch6: channel@800e0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x800e0000 0x0 0x10000>,
                <0x0 0x800f0000 0x0 0x10000>,
                <0x0 0x80270000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <6>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch7: channel@80100000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80100000 0x0 0x10000>,
                <0x0 0x80110000 0x0 0x10000>,
                <0x0 0x80280000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <7>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	clocktrack1: clocktrack@80130000 {
	      compatible = "clocktrack-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
     	  reg = <0x0 0x80130000 0x0 0x10000>;
		  refclk_hz = <300000000>;
	      setpointcenter = <250000>;
	      setpointoffset = <50000>;
    };
    dma_central1: dma_central@80150000 {
          compatible = "dma_central-1.0";
	      clock-names = "axi_lite_aclk", "axis_in_aclk";
          clocks = <&misc_clk_0>, <&misc_clk_0>;
          interrupt-parent = <&gic>;
          interrupts = <0 90 1>;
          reg = <0x0 0x80150000 0x0 0x1000 0x0 0xb0000000 0x0 0x100000>;
          start_channel = <4>;
          num_channels = <4>;
          int_retry_cnt = <500000>;
          dmas = <&fpd_dma_chan2 0>;
          dma-names = "dma";
	};
	ch8: channel@80160000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80160000 0x0 0x10000>,
                <0x0 0x80170000 0x0 0x10000>,
                <0x0 0x80290000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <8>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch9: channel@80180000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x80180000 0x0 0x10000>,
                <0x0 0x80190000 0x0 0x10000>,
                <0x0 0x802a0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <9>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch10: channel@801a0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x801a0000 0x0 0x10000>,
                <0x0 0x801b0000 0x0 0x10000>,
                <0x0 0x802b0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <10>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	ch11: channel@801c0000 {
	      compatible = "channel-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x801c0000 0x0 0x10000>,
                <0x0 0x801d0000 0x0 0x10000>,
                <0x0 0x802c0000 0x0 0x10000>;
          reg-names = "channel_in", "channel_out", "line_test";                                        
 		  channel_number = <11>;
		  refclk_hz = <300000000>;
          pcmout_init_bitrate = <1000000>;
		  c_out_polarity = <0>;
		  d_out_polarity = <0>;
    };
	clocktrack2: clocktrack@801e0000 {
	      compatible = "clocktrack-1.0";
	      clock-names = "axi_lite_aclk";
	      clocks = <&misc_clk_0>, <&misc_clk_0>;
	      reg = <0x0 0x801e0000 0x0 0x10000>;
		  refclk_hz = <300000000>;
	      setpointcenter = <250000>;
	      setpointoffset = <50000>;
    };
    dma_central2: dma_central@801f0000 {
          compatible = "dma_central-1.0";
	      clock-names = "axi_lite_aclk", "axis_in_aclk";
          clocks = <&misc_clk_0>, <&misc_clk_0>;
          interrupt-parent = <&gic>;
          interrupts = <0 91 1>;
          reg = <0x0 0x801f0000 0x0 0x1000 0x0 0xa1000000 0x0 0x100000>;
          start_channel = <8>;
          num_channels = <4>;
          int_retry_cnt = <500000>;
          dmas = <&fpd_dma_chan3 0>;
          dma-names = "dma";
	};
    axi_i2c_adc: i2c@80120000 {
	      #address-cells = <1>;
		  #size-cells = <0>;
		  clock-names = "s_axi_aclk";
		  clocks = <&misc_clk_0>;
		  compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
		  interrupt-names = "iic2intc_irpt";
		  interrupt-parent = <&gic>;
		  interrupts = <0 95 4>;
		  reg = <0x0 0x80120000 0x0 0x10000>;
          mcp3021@4a {
	                 compatible = "microchip,mcp3021";
	                 reg = <0x4a>;
                     reference-voltage-microvolt = <3300000>; /* 3.3 V */
          };
	};

/*
    axi_spi: spi@80010000 {
    compatible = "xlnx,axi-quad-spi-1.00.a";
	clock-names = "ext_spi_clk", "s_axi_aclk";
	clocks = <&misc_clk_0>, <&misc_clk_0>;
	fifo-size = <16>;
	interrupt-parent = <&gic>;
	interrupts = <0 96 1>;
	num-cs = <0x1>;
	reg = <0x0 0x80010000 0x0 0x10000>;
	xlnx,num-ss-bits = <0x1>;
	xlnx,spi-mode = <0>;
	#address-cells = <1>;
	#size-cells = <0>;
    spidev@0 {
		  compatible = "spidev";
		  spi-max_frequency = <15000000>;
		  reg = <0>;
	      };
    };
	lcd: lcd@0 {
	 	  compatible = "ilitek,ili9163";
		  reg = <0>;
	 	  spi-max_frequency = <19000000>;
          rotate = <90>;
          width = <160>;
          height = <128>;
          bgr;
          fps = <10>;
          buswidth = <8>;
          reset-gpios = <&gpio 78 1>;
          dc-gpios = <&gpio 79 0>;
          cs-gpios = <&gpio 80 0>;
          debug=<1>;
          status = "okay";
	};
    */
};

&gpio {
	status = "okay";
};

&gem3 {
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x0>;
	local-mac-address = [00 0a 35 00 02 90];
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy0: phy@0 {
		reg = <0x0>;
		ti,rx-internal-delay = <0x5>;
		ti,tx-internal-delay = <0x5>;
		ti,fifo-depth = <0x1>;
	};
};

&i2c1 {
   i2cswitch@70 { /* U7 on UZ3EG SOM, U8 on UZ7EV SOM */
      compatible = "nxp,pca9543";
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0x70>;
      i2c@0 { /* i2c mw 70 0 1 */
         #address-cells = <1>;
         #size-cells = <0>;
         reg = <0>;
         /* Ethernet MAC ID EEPROM */
         mac_eeprom@51 { /* U5 on UZ3EG IOCC & PCIEC and U7 on the UZ7EV EVCC */
            compatible = "at,24c08";
            reg = <0x51>;
         };

         vc5: clock-generator@6a { /* IDT (Renesas) 5P49V5935 I2C clock generator */
            compatible = "idt,5p49v5935";
            reg = <0x6a>;
            #clock-cells = <1>;

            /* Connect XIN input to 25MHz reference */
            clocks = <&clock_5p49v5935_ref25>;
            clock-names = "xin";

            OUT3 { /* USB3 */
               idt,drive-mode = <VC5_CMOSD>; 
               idt,voltage-microvolts = <1800000>;
               idt,slew-percent = <80>;
            };
         };

         
         clock_eeprom@52 { /* U5 on the UZ7EV EVCC */
            compatible = "at,24c08";
            reg = <0x52>;
         };
      };

      i2c@1 {
         #address-cells = <0x1>;
         #size-cells = <0x0>;
         reg = <0x1>;

         irps5401@46 { /* IRPS5401 - U24 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x46>;
         };

         irps5401@47 { /* IRPS5401 - U25 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x47>;
         };

         ir38063@48 { /* IR38063 - U26 on UZ7EV SOM*/
            compatible = "infineon,ir38063";
            reg = <0x48>;
         };

         irps5401@49 { /* IRPS5401 - U21 on UZ7EV EVCC*/
            compatible = "infineon,irps5401";
            reg = <0x49>;
         };
         irps5401@4a { /* IRPS5401 - U22 on UZ7EV EVCC*/
            compatible = "infineon,irps5401";
            reg = <0x4a>;
         };

         ir38063@4b { /* IR38063 - U18 on UZ7EV EVCC*/
            compatible = "infineon,ir38063";
            reg = <0x4b>;
         };

         ir38063@4c { /* IR38063 - U19 on UZ7EV EVCC*/
            compatible = "infineon,ir38063";
            reg = <0x4c>;
         };
      };
   };
};


&qspi {
   #address-cells = <1>;
   #size-cells = <0>;
   status = "okay";
   is-dual = <1>; /* Set for dual-parallel QSPI config */
   num-cs = <2>;
   xlnx,fb-clk = <0x1>;
   flash0: flash@0 {
      /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
      /* so the Flash MTD partitions are correctly identified in /proc/mtd */
      compatible = "micron,m25p80","jedec,spi-nor"; /* 32MB */
      #address-cells = <1>;
      #size-cells = <1>;
      reg = <0x0>;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
      spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
   };
};

/* SD0 eMMC, 8-bit wide data bus */
&sdhci0 {
   status = "okay";
   bus-width = <8>;
   max-frequency = <50000000>;
};

/* SD1 with level shifter */
&sdhci1 {
   status = "okay";
   max-frequency = <50000000>;
   no-1-8-v;   /* for 1.0 silicon */
};

&psgtr {
   /* PCIE, SATA, USB3, DP */
   clocks = <&gtr_clk0>, <&gtr_clk1>, <&gtr_clk2>, <&gtr_clk3>;
   clock-names = "ref0", "ref1", "ref2", "ref3";
};

/* ULPI SMSC USB3320 */
&usb0 {
   status = "okay";
};

&dwc3_0 {
   status = "okay"; 
   dr_mode = "host";
   maximum-speed = "super-speed"; 
   snps,usb3_lpm_capable; 
   snps,enable_auto_retry; 
   phy-names = "usb3-phy"; 
   /* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
   phys = <&psgtr 2 PHY_TYPE_USB3 0 2>;
};

&sata {
/*   status = "okay"; */
   phy-names = "sata-phy";
   /* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
   phys = <&psgtr 1 PHY_TYPE_SATA 1 1>;
};
