/dts-v1/;
#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"

/* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
    
/ {
	chosen {
		bootargs = "console=/dev/ttyPS1,115200 root=/dev/mmcblk1p2 rw earlyprintk earlycon clk_ignore_unused";
		stdout-path = "serial1:115200n8";
	};
	aliases {
		ethernet0 = &gem3;
		ethernet1 = &gem0;
		serial0 = &uart0;
		serial1 = &uart1;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>, <0x00000008 0x00000000 0x0 0x80000000>;
	};

	amba_pl: amba_pl@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges ;
	misc_clk_0: misc_clk_0 {
		#clock-cells = <0>;
		clock-frequency = <299997000>;
		compatible = "fixed-clock";
	};
    	hwaccel0: hwaccel@80000000 {
	     compatible = "hwaccel-1.0";
             clock-names = "axi_lite_aclk";
	     clocks = <&misc_clk_0>, <&misc_clk_0>;
	     reg = <0x0 0x80000000 0x0 0x10000>;
	     hwaccel_number = <0>;
       };
    }; // amba_pl
};

&gpio {
	status = "okay";
};

&i2c1 {
   i2cswitch@70 { /* U7 on UZ3EG SOM, U8 on UZ7EV SOM */
      compatible = "nxp,pca9543";
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0x70>;
      i2c@0 { /* i2c mw 70 0 1 */
         #address-cells = <1>;
         #size-cells = <0>;
         reg = <0>;
      };

      i2c@1 {
         #address-cells = <0x1>;
         #size-cells = <0x0>;
         reg = <0x1>;

         irps5401@46 { /* IRPS5401 - U24 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x46>;
         };

         irps5401@47 { /* IRPS5401 - U25 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x47>;
         };

         ir38063@48 { /* IR38063 - U26 on UZ7EV SOM*/
            compatible = "infineon,ir38063";
            reg = <0x48>;
         };
      };
   };
};

&qspi {
   #address-cells = <1>;
   #size-cells = <0>;
   status = "okay";
   is-dual = <1>; /* Set for dual-parallel QSPI config */
   num-cs = <2>;
   xlnx,fb-clk = <0x1>;
   flash0: flash@0 {
      /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
      /* so the Flash MTD partitions are correctly identified in /proc/mtd */
      compatible = "micron,m25p80","jedec,spi-nor"; /* 32MB */
      #address-cells = <1>;
      #size-cells = <1>;
      reg = <0x0>;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
      spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
      /* MTD Partitioning:
       *   Boot.bin needs at least 20MB
       *   boot.scr must go at 0x3E80000
       */
      partition@qspi-bootbin {
	      label = "qspi-bootbin";
	      reg = <0x0 0x2000000>;
      };
      partition@qspi-bootscr {
	      label = "qspi-bootscr";
	      reg = <0x3E80000 0x80000>;
      };
   };
};

&sdhci0 {
	clock-frequency = <199998001>;
	status = "okay";
	xlnx,mio_bank = <0x0>;
	nvmem-cells = <&soc_revision>;
	nvmem-cell-names = "soc_revision";
	#clock-cells = <1>;
	clock-output-names = "clk_out_sd0", "clk_in_sd0";
};
&sdhci1 {
	clock-frequency = <199998001>;
	status = "okay";
	disable-wp;
	no-1-8-v;
	xlnx,mio_bank = <0x1>;
	nvmem-cells = <&soc_revision>;
	nvmem-cell-names = "soc_revision";
	#clock-cells = <1>;
	clock-output-names = "clk_out_sd1", "clk_in_sd1";
};

&gic {
	num_cpus = <2>;
	num_interrupts = <96>;
};
&lpd_dma_chan1 {
	status = "okay";
};
&lpd_dma_chan2 {
	status = "okay";
};
&lpd_dma_chan3 {
	status = "okay";
};
&lpd_dma_chan4 {
	status = "okay";
};
&lpd_dma_chan5 {
	status = "okay";
};
&lpd_dma_chan6 {
	status = "okay";
};
&lpd_dma_chan7 {
	status = "okay";
};
&lpd_dma_chan8 {
	status = "okay";
};
&xilinx_ams {
	status = "okay";
};
&cci {
	status = "okay";
};
&fpd_dma_chan1 {
	status = "okay";
};
&fpd_dma_chan2 {
	status = "okay";
};
&fpd_dma_chan3 {
	status = "okay";
};
&fpd_dma_chan4 {
	status = "okay";
};
&fpd_dma_chan5 {
	status = "okay";
};
&fpd_dma_chan6 {
	status = "okay";
};
&fpd_dma_chan7 {
	status = "okay";
};
&fpd_dma_chan8 {
	status = "okay";
};
&gem0{
	status = "okay";
	local-mac-address = [00 0a 35 00 00 AA];
	phy-mode = "rgmii-id";
	xlnx,ptp-enet-clock = <0x0>;
	phy-handle = <&phy1>;
	phy1: phy@19 {
		reg = <0x19>;
		ti,rx-internal-delay = <0x5>;
		ti,tx-internal-delay = <0x5>;
		ti,fifo-depth = <0x1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

&gem3 {
	status = "okay";
	local-mac-address = [00 0a 35 00 00 BB];
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy0: phy@9 {
		reg = <0x9>;
		ti,rx-internal-delay = <0x5>;
		ti,tx-internal-delay = <0x5>;
		ti,fifo-depth = <0x1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";
};
&qspi {
	is-dual = <1>;
	num-cs = <1>;
	spi-rx-bus-width = <4>;
	spi-tx-bus-width = <4>;
	status = "okay";
};
&rtc {
	status = "okay";
};
&sdhci0 {
	clock-frequency = <199998001>;
	status = "okay";
	xlnx,mio-bank = <0x0>;
};
&sdhci1 {
	clock-frequency = <199998001>;
	status = "okay";
	xlnx,mio-bank = <0x1>;
};
&psgtr {
	status = "okay";
};
&uart0 {
	cts-override ;
	device_type = "serial";
	port-number = <0>;
	status = "okay";
	u-boot,dm-pre-reloc ;
};
&uart1 {
	cts-override ;
	device_type = "serial";
	port-number = <1>;
	status = "okay";
	u-boot,dm-pre-reloc ;
};
&lpd_watchdog {
	status = "okay";
};
&watchdog0 {
	status = "okay";
};
&ams_ps {
	status = "okay";
};
&ams_pl {
	status = "okay";
};
